<launch>
  <arg name="start_moveit" default="true"/>
  <arg name="start_hardware_bridge" default="true"/>
  <arg name="use_rviz" default="true"/>
  <arg name="moveit_controller_manager" default="simple"/>

  <group if="$(arg start_moveit)">
    <include file="$(find jaka_controller_tcp)/launch/double_arm_moveit.launch">
      <arg name="use_rviz" value="$(arg use_rviz)"/>
      <arg name="moveit_controller_manager" value="$(arg moveit_controller_manager)"/>
    </include>
  </group>

  <group if="$(arg start_hardware_bridge)">
    <include file="$(find jaka_controller_tcp)/launch/double_arm_hardware_bridge.launch"/>
  </group>
</launch>
